.container[data-v-b0ca7a79]{justify-content:center;align-items:center;gap:var(--f4f54aee);grid-template-columns:repeat(2,1fr);display:grid}.container>div[data-v-b0ca7a79]{justify-content:center;align-items:center;display:flex}
