.workbench-main[data-v-a5514f4f]{width:100%;height:100%;padding:4px}.workbench-main .workbench-container[data-v-a5514f4f]{grid-template-columns:repeat(2,minmax(0,1fr));gap:6px;margin-top:6px;display:grid}
